# {{ ansible_managed }}

{% if git_config_alias is defined and git_config_alias %}
[alias]
{% for k,v in git_config_alias.iteritems() %}
    {{ k }} = {{ v }}
{% endfor %}
{% endif %}

{% if git_config_color is defined and git_config_color %}
[color]
{% for k,v in git_config_color.iteritems() %}
    {{ k }} = {{ v }}
{% endfor %}
{% endif %}

{% if git_config_core is defined and git_config_core %}
[core]
{% for k,v in git_config_core.iteritems() %}
    {{ k }} = {{ v }}
{% endfor %}
{% endif %}

{% if git_config_diff is defined and git_config_diff %}
[diff]
{% for k,v in git_config_diff.iteritems() %}
    {{ k }} = {{ v }}
{% endfor %}
{% endif %}

{% if git_config_user is defined and git_config_user %}
[user]
{% for k,v in git_config_user.iteritems() %}
    {{ k }} = {{ v }}
{% endfor %}
{% endif %}

{% if git_config_other is defined and git_config_other %}
{% for section,values in git_config_other.iteritems() %}
[{{ section }}]
{% for k,v in values.iteritems() %}
    {{ k }} = {{ v }}
{% endfor %}
{% endfor %}
{% endif %}
